@{
    ViewBag.Title = "Home Page";
}


<link href="~/Content/Index.css" rel="stylesheet" />

<main>
    <div class="header-main-pic">
        <img src="~/Pictures/IndexMainPicture.jpg" />
    </div>
    <div class="news-box">
        <nav>
            <div class="nav nav-tabs" id="news-box-tab" role="tablist">
                <button class="news-btn nav-link active" id="latest-news-tab" data-bs-toggle="tab" data-bs-target="#latest-news" type="button" role="tab" aria-controls="latest-news" aria-selected="true">最新消息</button>
            </div>
        </nav>
        <div class="tab-content" id="news-box-tabContent">
            <div class="tab-pane fade show active" id="latest-news" role="tabpanel" aria-labelledby="latest-news-tab">
                <div class="each-news-box">
                    <div>
                        <div class="each-news">
                            <div class="news-date">
                                2024-06-19 12:00
                            </div>
                            <div class="news-title">
                                <a href="#">
                                    Test News
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="news-more-btn">
                        <a href="#">
                            MORE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
