@{
    ViewBag.Title = "Sign In";
}

<link href="~/Content/Member.css" rel="stylesheet" />
<link href="~/Content/ForgetPassword.css" rel="stylesheet" />

<main>
    <div class="member-page">
        <div class="title">
            忘記密碼
        </div>
        <div class="member-input-area">
            <input class="email-input form-control" value="" name="email-input" id="email-input" placeholder="請輸入註冊信箱"/>
            <p class="err-message" id="account-err"></p>
        </div>
        <div class="member-btn-area">
            <button class="sign-in-btn" onclick="location.href='@Url.Action("SignIn","Member")'">
                登入
            </button>
            <button class="get-verify-code" id="verify-btn" onclick="verify">
                取得驗證碼
            </button>
        </div>
    </div>
</main>

<script>
    $("#verify-btn").on("click", function (e) {
        emailInput = $("#email-input").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("MemberResetCheck", "Member")?email=" + emailInput,
            data: "",
            success: function (result) {

                if (result == "OK") {
                    verify();
                } else {
                    alert(result);
                }

            },
            error: function (err) {
                alert(err);
            }
        })
    })

    function verify(){
        alert("模擬驗證碼為\"QAZWSX123\"，請複製以供後續使用。");
        location.href = '@Url.Action("ResetPassword", "Member")';
    }
</script>
