@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Member.css" rel="stylesheet" />
<link href="~/Content/ResetPassword.css" rel="stylesheet" />

<main>
    <div class="member-page">
        <div class="title">修改密碼</div>
        <div class="member-input-area">
            <div class="each-title">帳號</div>
            <input type="text" class="account-input form-control" value="" name="account-input" id="account-input" placeholder="請輸入帳號" />
            <p class="err-message" id="account-err"></p>
            <div class="each-title">驗證碼</div>
            <input type="text" class="verify-code-input form-control" value="" name="verify-code-input" id="verify-code-input" placeholder="請輸入驗證碼" />
            <p class="err-message" id="verify-code-err"></p>
            <div class="each-title">新密碼</div>
            <input type="password" class="new-password-input form-control" value="" name="new-password-input" id="new-password-input" placeholder="請輸入新密碼" />
            <p class="err-message" id="new-password-err"></p>
            <div class="each-title">再次輸入新密碼</div>
            <input type="password" class="new-password-input-re form-control" value="" name="new-password-input-re" id="new-password-input-re" placeholder="請再次輸入新密碼" />
            <p class="err-message" id="new-password-input-re-err"></p>
        </div>
        <div class="member-btn-area">
            <button class="sign-in-btn" onclick="location.href='@Url.Action("SignIn", "Member")'">
                登入
            </button>
            <button class="reset-password-btn" id="reset-password-btn">
                修改密碼
            </button>
        </div>
    </div>
</main>

<script>

    $(document).ready(function (e) {

        ResetPassword();

    })


    function ResetPassword() {
        let accountErrors = 1;
        let verifyCodeErrors = 1;
        let newPasswordErrors = 1;
        let reNewPasswordErrors = 1;

        $("#account-input").on("input", function () {

            inputValue = $("#account-input").val();
            if (!inputValue.match(/^[A-Za-z0-9]{6,20}$/)) {
                $("#account-err")[0].innerText = "帳號格式錯誤!（請輸入6碼至20碼的大小寫英文或數字）";
                accountErrors = 1;
            } else {
                $("#account-err")[0].innerText = "";
                accountErrors = 0;
            }

        })

        $("#verify-code-input").on("input", function () {

            inputValue = $("#verify-code-input").val();
            if (!inputValue.match(/^[A-Za-z0-9]{9}$/)) {
                $("#verify-code-err")[0].innerText = "驗證碼格式錯誤，請輸入9碼驗證碼";
                verifyCodeErrors = 1;
            } else {
                $("#verify-code-err")[0].innerText = "";
                verifyCodeErrors = 0;
            }

        })

        $("#new-password-input").on("input", function () {

            inputValue = $("#new-password-input").val();
            if (!inputValue.match(/^[A-Za-z0-9]{6,20}$/)) {
                $("#new-password-err")[0].innerText = "密碼格式錯誤（請輸入6碼至20碼的大小寫英文或數字）";
                newPasswordErrors = 1;
            } else {
                $("#new-password-err")[0].innerText = "";
                newPasswordErrors = 0;
            }

        })

        $("#new-password-input-re").on("input", function () {

            newPassword = $("#new-password-input").val();
            inputValue = $("#new-password-input-re").val();
            if (newPassword != inputValue) {
                $("#new-password-input-re-err")[0].innerText = "密碼輸入不相同，請重新輸入";
                reNewPasswordErrors = 1;
            } else {
                $("#new-password-input-re-err")[0].innerText = "";
                reNewPasswordErrors = 0;
            }

        })

        $("#reset-password-btn").click(function (e) {

            accountValue = $("#account-input").val();
            passwordValue = $("#new-password-input").val();
            verifyCodeValue = $("#verify-code-input").val();

            if (accountErrors == 0 && verifyCodeErrors == 0 && newPasswordErrors == 0 && reNewPasswordErrors == 0) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ResetNewPassword")?account=" + accountValue + "&&password=" + passwordValue + "&&verifyCode=" + verifyCodeValue,
                    data: "",
                    success: function (result) {
                        if (result == "OK") {
                            alert("密碼修改完成，請重新登入");
                            location.href = "@Url.Action("SignIn")";
                        }else
                            alert(result);
                    },
                    error: function (err) {
                        alert(err);
                    }
                })
            }

        })



    }

</script>
