@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Member.css" rel="stylesheet" />
<link href="~/Content/ResetPassword.css" rel="stylesheet" />

<main>
    <div class="member-page">
        <div class="title">修改密碼</div>
        <div class="member-input-area">
            <div class="each-title">帳號</div>
            <input class="account-input form-control" value="" name="account-input" placeholder="請輸入帳號" />
            <p class="err-message" id="account-err"></p>
            <div class="each-title">驗證碼</div>
            <input class="verify-code-input form-control" value="" name="verify-code-input" placeholder="請輸入驗證碼" />
            <p class="err-message" id="password-err"></p>
            <div class="each-title">新密碼</div>
            <input class="new-password-input form-control" value="" name="new-password-input" placeholder="請輸入新密碼" />
            <p class="err-message" id="name-err"></p>
            <div class="each-title">再次輸入新密碼</div>
            <input class="new-password-input-re form-control" value="" name="new-password-input-re" placeholder="請再次輸入新密碼" />
            <p class="err-message" id="email-err"></p>
        </div>
        <div class="member-btn-area">
            <button class="sign-in-btn" onclick="location.href='@Url.Action("SignIn", "Member")'">
                登入
            </button>
            <button class="reset-password-btn">
                修改密碼
            </button>
        </div>
    </div>
</main>
